.issue-link {
    display: block;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background-color: inherit;
}

.issue-margin-bottom {
    margin-bottom: 4px;
}

.out-link {
    display: inline-block;
}

.repo-link {
    text-align: left;
}