body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.container {
    margin: auto;
    padding: 10px;
}
.one {
    float: left;
}
.two {
    margin-left: 15%;
    display: inline-block;
}   